@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@mixin main-bg {
  background: #FF512F;
  background: -webkit-linear-gradient(to right, #F09819, #FF512F);
  background: linear-gradient(to right, #F09819, #FF512F);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 10px;

  &:hover {
    opacity: .8;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  @include main-bg();

  main {
    text-align: center;
  }
}


header {
  padding: 1em;

  h1 {
    text-align: center;
    margin: .2em 0;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.particles {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}