@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

header {
  border: 1px solid red;

  h1 {
    text-align: center;
    color: red;

    &:hover {
      transform: scale(1.2);
    }
  }
}